/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: "Poppins", sans-serif;
	/*background: linear-gradient(-45deg, rgb(15, 23, 42), #0a4222, rgb(15, 23, 42), #0a4222);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;*/
  background: rgb(15, 23, 42);
  color: #e6f1ff;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/****************************** Animation loading page ******************************/



.drop-in { /*normal*/
  animation: drop-in 1s ease 200ms backwards;
 }
 
 .drop-in-2 { /*slower*/
  animation: drop-in 1200ms ease 500ms backwards;
 }
 
 @keyframes drop-in {
  0% {
   opacity: 0;
   transform: translateX(-100px);
  }
 
  50% {
   opacity: 0.5;
   
  }
 
  100% {
   opacity: 1;
   transform: translate(0px);
  }
 }

/****************************** Animation loading page ******************************/

/*header{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #020a14;
}*/

#Nav-bars{
  box-shadow: 0 30px 30px -20px #020a14;
}

#desktop-nav{     
  justify-content: space-between;
  padding: 16px 100px 16px 100px ;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #e6f1ff;
}

/****************************** nav-header ******************************/
nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  padding: 16px 0 16px 0 ;
 
  
}


.nav-links {
  gap: 1.5rem;
  list-style: none;
  /*font-size: 1.5rem;*/
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  --b: 0.1em;   /* the thickness of the line */
  --c: #64ffda; /* the color */
  color: #e6f1ff;
  background: 
  linear-gradient(var(--c) 50%,#081b29 0) 0% calc(100% - var(--_p,0%))/100% 200%,
  linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));

  
}

nav ul li a:hover {
  --_p: 100%;
  --_b: .3s;
  color: #64ffda;
  
}



/****************************** nav-header ******************************/

/****************************** Arrows to nav top-mid-bottom ******************************/
.nav-arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  list-style: none;
  
}
.nav-arrows a i{
  color: #e6f1ff;
  transition: .6s;
  
}

.nav-arrows a i:hover{
  transform: scale(1.1);
}

#nav-about{
  height: 80vh;
  display: flex;
  flex-direction: column;
}

#nav-about p{
  font-size: 20px;
  padding: 1rem;
}

#nav-contact{
  padding-top: 170px;
}

/****************************** Arrows to nav top-mid-bottom ******************************/

/****************************** logo d|c ******************************/
.logo {
  font-size: 2rem;
  color: #64ffda;
  /*color:#00abf0;*/
  --c: #64ffda; /* the border color */
  --b: 1px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .6s .3s;
  cursor: default;
  text-decoration: none;
  cursor: pointer;
}

.logo:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}
/****************************** logo d|c ******************************/

/****************************** HAMBURGER MENU ******************************/
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 110%;
  height: 2px;
  background-color: #e6f1ff;
  transition: all 0.6s ease-in-out;
  
}
/* ocultar profile al abrir menu*/
.hide{
  visibility: hidden;
}

.menu-links {
  position: fixed;
  left: 0;
  background: rgb(15, 23, 42);
  width: 100%;
  height: 100vh;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
  line-height: 3;
  
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #e6f1ff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  transition: all 0.6s ease-in-out;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
  transition: all 0.6s ease-in-out;}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
  transition: all 0.6s ease-in-out;}

.hamburger-icon span:first-child {
  transform: none;
  transition: all 0.6s ease-in-out;
}

.hamburger-icon span:first-child {
  opacity: 1;
  transition: all 0.6s ease-in-out;

}

.hamburger-icon span:first-child {
  transform: none;
  transition: all 0.6s ease-in-out;
}
/****************************** HAMBURGER MENU ******************************/

/****************************** Sections ******************************/

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 15rem;
  box-sizing: border-box;
  min-height: fit-content;
  /*background-color: red;*/
 
}

.section-container {
  display: flex;
  padding-top: 30px;
 /*background-color: green;*/
}

/****************************** Profile section ******************************/
#profile {
  margin-top: 170px;
  /*background-color: beige;*/
 
 
}
#profile span{
  color: #64ffda;
}

#profile nav ul li a{
  font-size: 50px;
}


/****************************** If i want to add a picture*****************************/
.section-pic-container {
  display: flex;
  transition: .6s;
}

.section-pic-container:hover{
  
  transform: translateX(-6px);
  transition: .5s ease;
  filter: contrast(120%);
}



.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
  color: #8892b0;
}

.section-text-p1 {
  text-align: center;
  
}

.section-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 60px;
  text-align: center;
}

/* ICONS */
#social-icons{
  padding-top: 30px;
  display: none;
 
}

.icons{
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color:#e6f1ff;
}

.icons:hover{
  transform: scale(1.3);

}
/* ICONS */

aside ul li a i{
  transition: .3s;
}

aside ul li a i:hover{
  transform: scale(1.3);

}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-size: 16px;
  background-color: transparent;
  color: #64ffda;
  border-color: #64ffda;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition:1s;
  min-width: 140px;
  text-decoration: none;
  border: 1px solid;
  line-height: 1;
  
}

.btn:hover{

  background: #64ffda;
  color: #081b29;
  
}

#btn-contact{
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

}
/* ABOUT SECTION */
#about {
  position: relative;
  padding-top: 110px;
  /*background-color: purple;*/
 

}
#about .title{
  color: #8892b0;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  color: #e6f1ff;
}

.about-containers,
.about-details-container {
  display: flex;

}
.about-text{
  color: #8892b0;
}

.about-details-container p span{
  color: #64ffda;
}




/*cards*/
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #0a192f;
  border-radius: 2rem;
  transition: .3s;

  text-align: center;
  
}

.section-container {
  gap: 4rem;
  
}

.section-pic-container {
  height: 400px;
  width: 400px;
}
/*project card*/
.details-container:hover{
  filter: contrast(120%);
  transform: scale(1.1);
}

.text-container p {
  color: #e6f1ff;
  opacity: 0.7;
}

.text-container span{
  color:#64ffda;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  padding-top: 70px;
}

#experience .title{
  color: #8892b0;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
  color: #8892b0;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  padding-top: 110px;
  /*background-color: #64ffda;*/
}

#projects .title{
  color: #8892b0;
}
.color-container {
  border-color: #64ffda;
  background: #06152A;

}

.project-img {
  border-radius: 2rem;
  width: 150px;
  height: 300px;
}

.project-title {
  margin: 1rem;
  color: #e6f1ff;
}


/* CONTACT */

#contact {
  margin-top: 130px;  /*cambio*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: antiquewhite;*/
  
}

#contact .title{
  color: #8892b0;
}

.section-text-p1{
  color: #64ffda;
  opacity: 0.7;
}

.contact-info-upper-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  gap: 2rem;
}

/*.contact-info-container {
 
}*/

.contact-info-container p {
  font-size: 25px;
  color: #fff; /*verde agua*/
}

.contact-info-container{
  display: flex;
  
}


.contact-icon{
 
  margin-right: 15px;
  color:#e6f1ff;
  cursor: default;
  gap: 1;

}

#contact, .section-text-p1 title{
  text-align: center;
}

/* FOOTER SECTION */



.rocket-text{
  display: flex;
  justify-content: center;
  align-items: center;
}






.reveal{

  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(120px);
  opacity: 1;
}

header{ /*cambio*/
  position: fixed;
  width: 100%;
  top:0;
  backdrop-filter: blur(20px);
  z-index: 1;
  height: 5rem;
  transition: all 0.3s ease-in;
  opacity: 1;
  background-color: rgb(15, 23, 42);
}

/*Animacion*/
.head-scrolled {
  opacity: 0;
}

.drop-in { /*normal*/
  animation: drop-in 1s ease 200ms backwards;
 }
 
 .drop-in-2 { /*slower*/
  animation: drop-in 1200ms ease 500ms backwards;
 }
 
 @keyframes drop-in {
  0% {
   opacity: 0;
   transform: translateX(-100px);
  }
 
  50% {
   opacity: 0.5;
   
  }
 
  100% {
   opacity: 1;
   transform: translate(0px);
  }
 }



 @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }

  .arrow {
    animation:
      bounce 300ms
      alternate infinite
      cubic-bezier(.2, .65, .6, 1);
  }

  main{
    display: flex;
    flex-direction: column;

  
    
  }

  aside{
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 1rem;
  justify-content:center;
  line-height: 3;
  align-items: center;
  
  }

  
.aside-left{
  position:fixed;
  left: 0;
  height:100vh;
  top: 38px;

}

.aside-right{
  position:fixed;
  right: 0;
  top: 38px;
  height:100vh;
}

ul li{
  list-style: none;
  text-decoration: none;
}

aside h1{
  transform: rotate(-90deg);
  color: #64ffda;
}

aside a{
  text-decoration: none;
  color: #64ffda;
}


.line {
  border-left: 6px solid #e6f1ff;
  height: 450px;
  
}

.project-img{
  width: 100%;
  height: 100%;
}

